// Colors
$color-primary: #121259;
$color-secondary: #9fdbd1;
$color-info: $color-secondary;
$color-error: #f26768;
$color-warning: #ffc038;
$color-text:#222222;
$color-text-contrast: white;
$color-gray-subtle: #f9f9f9;

// Default fonts
$font-size: 15px;
$fa-font-path: "/assets/style/font-awesome/fonts" !default;

// Bar height
$bar-height: 3rem;