**/*.map
**/*.pot
**/.DS_Store
*.log
.DS_Store
.well-known
.wercker
coverage
log
node_modules
src/client/assets/scripts/*.js
src/client/dist
src/server/**/*.js
src/server/**/*.js.map
src/shared/**/*.js
src/shared/**/*.js.map
test/client/assets
test/log
**/*.hot-update.js
**/*.hot-update.json